deploy/step_functions/state_machine.json
{
  "Comment": "Dr. AI Radiologist v2 — 2-Lambda Pipeline with Claim-Check",
  "StartAt": "PreprocessInput",
  "States": {
    "PreprocessInput": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${LambdaAArn}",
        "Payload": {
          "task": "preprocess",
          "image_base64.$": "$.image_base64",
          "patient_info.$": "$.patient_info",
          "run_id.$": "$$.Execution.Id"
        }
      },
      "ResultSelector": {
        "image_s3_uri.$": "$.Payload.image_s3_uri",
        "patient_info.$": "$.Payload.patient_info",
        "run_id.$": "$.Payload.run_id"
      },
      "ResultPath": "$.preprocess",
      "Next": "ParallelVisionInference"
    },
    "ParallelVisionInference": {
      "Type": "Parallel",
      "InputPath": "$.preprocess",
      "Branches": [
        {
          "StartAt": "Task_Segmentation",
          "States": {
            "Task_Segmentation": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${LambdaAArn}",
                "Payload": {
                  "task": "seg",
                  "image_s3_uri.$": "$.image_s3_uri",
                  "run_id.$": "$.run_id"
                }
              },
              "ResultSelector": {
                "task": "seg",
                "result_uri.$": "$.Payload.result_uri",
                "status.$": "$.Payload.status"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "Fallback_Seg"
                }
              ],
              "End": true
            },
            "Fallback_Seg": {
              "Type": "Pass",
              "Result": {
                "task": "seg",
                "result_uri": null,
                "status": "failed",
                "error": "Segmentation inference failed"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Task_DenseNet",
          "States": {
            "Task_DenseNet": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${LambdaAArn}",
                "Payload": {
                  "task": "densenet",
                  "image_s3_uri.$": "$.image_s3_uri",
                  "run_id.$": "$.run_id"
                }
              },
              "ResultSelector": {
                "task": "densenet",
                "result_uri.$": "$.Payload.result_uri",
                "status.$": "$.Payload.status"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "Fallback_DenseNet"
                }
              ],
              "End": true
            },
            "Fallback_DenseNet": {
              "Type": "Pass",
              "Result": {
                "task": "densenet",
                "result_uri": null,
                "status": "failed",
                "error": "DenseNet classification failed"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Task_YOLO",
          "States": {
            "Task_YOLO": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${LambdaAArn}",
                "Payload": {
                  "task": "yolo",
                  "image_s3_uri.$": "$.image_s3_uri",
                  "run_id.$": "$.run_id"
                }
              },
              "ResultSelector": {
                "task": "yolo",
                "result_uri.$": "$.Payload.result_uri",
                "status.$": "$.Payload.status"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 3,
                  "BackoffRate": 2.0
                }
              ],
              "Catch": [
                {
                  "ErrorEquals": ["States.ALL"],
                  "ResultPath": "$.error",
                  "Next": "Fallback_YOLO"
                }
              ],
              "End": true
            },
            "Fallback_YOLO": {
              "Type": "Pass",
              "Result": {
                "task": "yolo",
                "result_uri": null,
                "status": "failed",
                "message": "YOLO failed — proceeding without bbox",
                "fallback_data": {"detections": []}
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": "$.parallel_results",
      "Next": "AnalysisAndReport"
    },
    "AnalysisAndReport": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${LambdaBArn}",
        "Payload": {
          "parallel_results.$": "$.parallel_results",
          "patient_info.$": "$.preprocess.patient_info",
          "run_id.$": "$.preprocess.run_id"
        }
      },
      "ResultSelector": {
        "statusCode.$": "$.Payload.statusCode",
        "report.$": "$.Payload.report",
        "result_uri.$": "$.Payload.result_uri"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 3,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "End": true
    }
  }
}
